<div class="container-fluid fixed-top bg-primary py-3">
  <div class="row collapse show no-gutters d-flex h-100 position-relative">
      <div class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand font-col" href="#">{{userName}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
      
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()" type="submit">Logout</button>
            </form>
          </div>
      </div>
  </div>
</div>
