<!-- <p>text works!</p>
 -->

 <section>
     <div class="row">
            <div class="container">
                    <div class="row">
                        <h2>Send SMS</h2>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                                <div class="panel panel-info" >    
                                    <div class="panel-body">
                                        <form [formGroup]="smsForm" (ngSubmit)="sendSms()">
                                        <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                    <input type="text" class="form-control borderRadius country-code" placeholder="Enter country code" formControlName="countryCode" [ngClass]="{ 'is-invalid': submitted && f.countryCode.errors }">  
                                                                    <div *ngIf="submitted && f.countryCode.errors" class="invalid-feedback">
                                                                        <div *ngIf="f.countryCode.errors.required">Country code is required</div>
                                                                    </div> 
                                                            </span>
                                                            <input type="text" class="form-control borderRadius" placeholder="Enter Your Mobile Number" formControlName="number" [ngClass]="{ 'is-invalid': submitted && f.number.errors }"> 
                                                            <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                                                                <div *ngIf="f.number.errors.required">Mobile Number is required</div>
                                                            </div>                                       
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control input-sm borderRadius "placeholder="Message" maxlength="140" rows="7" formControlName="textMsg" [ngClass]="{ 'is-invalid': submitted && f.textMsg.errors }"></textarea>
                                                        <div *ngIf="submitted && f.textMsg.errors" class="invalid-feedback">
                                                            <div *ngIf="f.textMsg.errors.required">Some Message is required</div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                    <button class="btn btn-success"type="submit">Send SMS</button>                                        
                                                </div>
                                            </div>
                                        </form>
                                       
                                    </div>                     
                                </div>  
                            </div>    
                        </div>
                    </div>
                </div>
     </div>
 </section>