.w-sidebar {
    width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    top: 0;
    z-index: 1060;
}

.row.collapse{
    margin-left: calc(-1 * var(--sidebar-width));
    left: 0;
	transition: margin-left .15s linear;
}  

.row.collapse.show {
    margin-left: 0 !important;
}

.row.collapsing {
    margin-left: calc(-1 * var(--sidebar-width));
    left: -0.05%;
	transition: all .15s linear;
}

.p-3 {
    margin-left: 10%;
}

@media (max-width:768px) {

    .row.collapse,
    .row.collapsing {
        margin-left: 0 !important;
        left: 0 !important;
        overflow: visible;
    }
    
    .row > .sidebar.collapse {
        display: flex !important;
        margin-left: -100% !important;
        transition: all .3s ease;
        position: fixed;
        z-index: 1050;
        max-width: 0;
        min-width: 0;
        flex-basis: auto;
    }
    
    .row > .sidebar.collapse.show {
        margin-left: 0 !important;
        width: 100%;
        max-width: 100%;
        min-width: initial;
    }
    
    .row > .sidebar.collapsing {
        display: flex !important;
        margin-left: -10% !important;
        transition: all .3s ease !important;
        position: fixed;
        z-index: 1050;
        min-width: initial;
    }
}

.bg-dark {
    background-color: #0c0d35!important;
    font-size: 17px;
    color: #dc3545 !important;
}

.head-class {
    font-weight: bold;
    margin-bottom: 9%;
    margin-top: 9%;
}

.nav-link.active{
    color: #ffffff !important;
}

.p-3 {
    margin-left: 15%;
    margin-top: 7%;
}