<app-app-header title="Chat System"
            [isUserLoggedIn]="true" ></app-app-header>  
    <div class="container-fluid px-0">
        <div class="row collapse show no-gutters d-flex h-100 position-relative">
            <div class="col-3 p-0 h-100 w-sidebar navbar-collapse collapse d-none d-md-flex sidebar">
                <!-- fixed sidebar -->
                <div class="navbar-dark bg-dark text-white position-fixed h-100 align-self-start w-sidebar">
                    <h6 class="px-3 pt-3 head-class">Conversation Menu <a data-toggle="collapse" class="px-1 d-inline d-md-none text-white" href="#" data-target=".collapse"><i class="fa fa-bars"></i></a></h6>
                    <ul class="nav flex-column flex-nowrap text-truncate">
                        <li class="nav-item">
                            <a class="nav-link active" (click)="changeMenu()" href="JavaScript:void(0)" [routerLink]="'/home/text'">Text Msg</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="JavaScript:void(0)" [routerLink]="'/home/email'">Email</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 p-3">
                <router-outlet></router-outlet>          
            </div>
        </div>
    </div>